p {text-align:left;}

#StoryWindow {width:100%;height:100%; background:#000;}
#StoryImage {width:100%;height:66%; text-align:center;}
#StoryTextBlock {width:100%;height:33%; padding:10px 10px 10px 30px;}
#StoryText {width:75%; display:inline-block; color:white; text-align:center;}
#NavigationBlock {width:20%; display:inline-block;}
#backbutton
#forwardbutton
#skippbutton